:root{
    --animation-hover-time: 0.2s;
    --animation-hover-fn: ease-in-out;
}

.ammo-fade-in-up {
  animation: fadeInUp 0.6s ease-out forwards;
  opacity: 0;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.ammo-scale-in {
  animation: scaleIn 0.5s ease-out forwards;
  opacity: 0;
}
.ammo-slide-in{
  animation: slideIn 1s ease-out forwards;
  opacity: 0;
}

.ammo-animate-on-scroll
{
  opacity: 0;
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(50%)
  }
  to {
    opacity: 1;
    transform: translateX(0)
  }
}

/* Animation Delays */
.ammo-delay-1 { animation-delay: 0.1s; }
.ammo-delay-2 { animation-delay: 0.2s; }
.ammo-delay-3 { animation-delay: 0.3s; }
.ammo-delay-4 { animation-delay: 0.4s; }
